*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    margin-top: 2rem;
    text-align: center;
}
.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    padding: 3rem;
}
.card{
    height: 500px;
    width: 350px;
    text-align: justify;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 2px 2px 2px gray;
    border-radius: 1rem;
}

.card img{
    height: 200px;
    width: 100%; 
}

.morebtn{
    padding: 0.8rem 1rem ;
    background-color: rgb(31, 31, 243);
    color: white;
    border-radius: 1rem;
    border: none;
    text-decoration: none;
}
.removebtn{
    padding: 0.8rem 30px ;
    background-color:red;
    color: white;
    border-radius: 1rem;
    border: none;
    text-decoration: none; 
}
.footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
